
<p id="notice"><%= notice %></p>

<h1>All Lists</h1>

 <ul class="small-block-grid-1">
  <% @lists.each do |list| %>
    <li>
    <br />
    <%= link_to  list.title, list %>: 
    <%= list.content %> by 
    <%= link_to list.user.username, list.user %> <br />
    <% list.categories.each do |cat| %>
    <%= cat.name %>, 
    <% end %><br />
    <% if current_user == list.user %>
    <%= link_to 'Edit', edit_list_path(list) %>
    <% end %>
    <% if current_user == list.user %>
    <%= link_to 'X', list, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </li>
  <% end %>
  </ul>

<% content_for :search do %>
  <div class="large-8 small-9 columns">
  <%= search_form_for @search do |f| %>
    <%= f.text_field :title_or_content_cont, class: "radius-left expand", placeholder: "List Title" %>
  </div>
    <div class="large-4 small-3 columns">
      <%= f.submit "Search", class: "radius-right button" %>
    </div>
  <% end %>
<% end %>
<br>



<%= link_to 'New List', new_list_path unless current_user.blank? %>
