<div id="lists_page">
<p class="title">
  <%= @list.title %>
</p>

<p class="content">
  <strong>Content:</strong>
  <%= @list.content %>
</p>

<p>
<strong class="user">User:</strong>
  <%= @list.user.username %>
</p>

<p class="categories">
  <strong>Categories:</strong>
  <% @list.categories.each do |cat| %>
  <%= link_to cat.name, cat %>,
  <% end %>
</p>

<p>
  <ul class="lists">
   
      <% @list.items.each do |item| %>
      <li>
        <%= item.content %>, 
        <% unless current_user.blank? %>
        <%= link_to 'up', move_in_list_item_path(item, direction: 'up'), method: :put %> 
        <%= link_to 'down', move_in_list_item_path(item, direction: 'down'), method: :put %>
      </li>
      <% end %>
    <% end %>
    </ul>

  </p>


<%= link_to 'next', lists_path(:id)%>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
</div>