<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>User pic:</strong>
  <%= image_tag @user.user_pic, height: 100 %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <ul>
    <strong>User Lists:</strong>
    <% @user.lists.each do |l| %>
    <li>
     <%= link_to l.title, l %>,
   </li>
   <% end %>
 </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
