<p id="notice"><%= notice %></p>

<p>
  <strong>List one:</strong>
  <%= @item.list_one %>
</p>

<p>
  <strong>List two:</strong>
  <%= @item.list_two %>
</p>

<p>
  <strong>List three:</strong>
  <%= @item.list_three %>
</p>

<p>
  <strong>List four:</strong>
  <%= @item.list_four %>
</p>

<p>
  <strong>List five:</strong>
  <%= @item.list_five %>
</p>

<p>
  <strong>List six:</strong>
  <%= @item.list_six %>
</p>

<p>
  <strong>List seven:</strong>
  <%= @item.list_seven %>
</p>

<p>
  <strong>List eight:</strong>
  <%= @item.list_eight %>
</p>

<p>
  <strong>List nine:</strong>
  <%= @item.list_nine %>
</p>

<p>
  <strong>List ten:</strong>
  <%= @item.list_ten %>
</p>

<p>
  <strong>Lists:</strong>
  <%= @item.list %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
