<p id="notice"><%= notice %></p>

<h1>Categories</h1>
<div class="new_item"><%= link_to 'New Category', new_category_path %></div>

  <ul class="small-block-grid-1">
  <% @categories.each do |category| %>
    <li id="categories_list">
    <br />
      <div id="category_title"><%= link_to category.name, category %></div>

      <% unless current_user.blank? %>
      <%= link_to 'Edit', edit_category_path(category) %> | 
      <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

    </li>
    <% end %>

